<section class="jumbotron text-center">
    <div class="container">
        <h1>My Portfolio</h1>
        <p class="lead text-muted">A collection of some of my favorite projects including frontend and fullstack projects. Below I will attempt to seperate by Javascript, PHP, Python, and Ruby projects. I hope that you enjoy previewing as much as I enjoyed creating.</p>
        <p>
        <%= link_to 'Learn To Make A Project', tutorials_path, class: 'btn btn-primary my-2' %>
        <%= link_to 'About Me', about_path, class: 'btn btn-secondary my-2' %>
        </p>
    </div>
</section>