<p id="notice"><%= notice %></p>

<h1>Tutorials</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <%= render @tutorials %>
  </tbody>
</table>

<br>

<%= link_to 'New Tutorial', new_tutorial_path %>
