<div class="col-sm-8 tutorial-main">

    <%= render @tutorials %>

  <nav class="tutorial-pagination">
    <a class="btn btn-outline-primary" href="#">Older</a>
    <a class="btn btn-outline-secondary disabled" href="#">Newer</a>
  </nav>

</div>