<div class="col-sm-8 tutorial-main">

    <h2><%= @tutorial.title %></h2>

    <%= link_to 'Edit', edit_tutorial_path(@tutorial) if logged_in?(:site_admin) %> | 

    <p><%= @tutorial.body %></p>

</div>


