<h1>About page</h1>
<p>This site uses Ruby version 2.6.3p62 and Rails version 6.0.2.1</p>
<br>
<p>The Ruby gems used in this site are: bootstrap, edynak-view-tool(self published), friendly_id, devise, and petergate</p>
<br>
<p>The site database is postgresql</p>
<br>
<hr>
<h1>About me</h1>
<p>Software development should not be a secret process, when I take on a new project I make it my goal to not only deliver a well crafted product but to also ensure that each stage of the process is fully communicated.</p>
<br>
<p>I have been coding for the last 3 years. I am a fullstack developer that specializes in javascript, mongoDB, mysql, nodejs, PHP, postgresql, python, React.JS, and Ruby on Rails.</p>
<br>
<p>I am a graduate of Columbia University's bootcamp.</p>
